<app-navbar></app-navbar>
<div class="container-fluid has-background-white-ter">
  <div class="container ">
    <section class="hero is-fullheight-with-navbar ">
      <div class="hero-body">
        <div class="columns is-vcentered">
          <div class="column">
            <h1 class="custom-title">Web Developer</h1>
            <h2 class="subtitle is-size-5 has-text-weight-semibold">
              Hi, I'm Neil Olida. A passionate Entry Level Full-Stack Developer based in Baguio City, Philippines
            </h2>
  
            <div class="icons">
              <i class="fa-brands fa-linkedin"></i>
              <i class="fa-brands fa-github"></i>
            </div>
  
              <div class="columns">
                <div class="column">
                  <div class="tech-stack">
                  <h1 class="has-text-weight-bold is-size-5 has-text-link">Tech Stack</h1>
                  <div class="tech-icons">
                      <i class="devicon-html5-plain colored"></i>      
                      <i class="devicon-css3-plain colored"></i>
                      <i class="devicon-javascript-plain colored"></i>
                      <i class="devicon-bootstrap-plain colored"></i>
                      <i class="devicon-bulma-plain colored"></i>
                      <i class="devicon-php-plain colored"></i>
                      <i class="devicon-mysql-plain-wordmark colored"></i>
                      <i class="devicon-angularjs-plain colored"></i>  
                  </div>
                </div>
              </div>
              </div>
          </div>
          <div class="column has-text-right">
            <img src="../../assets/banner-image.png" alt="" style="display: block; margin-left: auto; margin-right: 0; max-width: 400px;">
          </div>  
        </div>
      </div>
    </section>
  </div>

  <div class="container-fluid has-background-white" id="about">
    <div class="container">
      <section class="section">
        <div class="tile is-ancestor">
          <div class="tile is-5 is-vertical is-parent">
            <div class="tile is-child">
              <img src="../../assets/about-me.jpg" alt="laptop-image">
            </div>
          </div>
          <div class="tile is-parent is-5 has-text-justified">
            <div class="tile is-child">
              <p class="title is-size-5 has-text-weight-bold has-text-link is-uppercase">About Me</p>  
              <p>As a Entry Level Full-Stack Developer,I possess an impressive arsenal of skills in HTML, CSS, JavaScript, Bootstrap, PHP, MSYQL, Bulma and Angular. I excel in designing and maintaining responsive websites that offer a smooth user experience. My expertise lies in crafting dynamic, engaging interfaces through writing clean and optimized code and utilizing cutting-edge development tools and techniques. I am also a team player who thrives in collaborating with cross-functional teams to produce outstanding web applications.</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  
  <section class="section" id="portfolio">
    <div class="container">
      <p class="title is-size-5 has-text-weight-bold has-text-link is-uppercase">Portfolio</p>  
      <h2 class="subtitle">
        My works are underway <strong class="has-text-weight-bold">stay tuned!</strong>
      </h2>
    </div>
  </section>

  <div class="container-fluid has-background-white" id="contact">
    <section class="section">
      <div class="container">
        <p class="title is-size-5 has-text-weight-bold has-text-link is-uppercase">Contact</p>  
        <h2 class="subtitle">
          <strong class="has-text-weight-bold">Don't be shy! Hit me up! <i class="fa-regular fa-paper-plane"></i></strong>
        </h2>
        
        
        <p><i class="fa-solid fa-envelope-open-text mr-4 has-text-danger"></i>neilolida00@gmail.com</p>
        <p><i class="fa-solid fa-map mr-4 has-text-primary"></i>Irisan, San Carlos Baguio City</p>
      </div>
    </section>
  </div>
</div>

<app-footer></app-footer>